.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  padding: 10px 10px 20px;
  margin-bottom: 10px;
  
}

.appTitle {
  font-weight: bold;
  font-size: 25px;
  font-family: cursive;
}

.navLinks {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.create-item-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-item-form input {
  width: 100%;
  height: 25px;
  margin: 8px;
  border-radius: 25px;
  padding: 2px 5px 2px 10px;
  font-size: 18px;
}

.add-button {
  cursor: pointer;
  background: none;
  border-radius: 25px;
  margin-right: 5px;
}

.word-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}
.word-list span {
  width: 100%;
  height: 25px;
  margin: 10px 8px;
  
}

.tracked-item {
  background-color: red;
  width: 600px;
  margin: 5px 2px;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 18px;
}

.delete-item {
  cursor: pointer;
  font-size: small;
}