.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .navbar {
  display: grid;
  grid-template-columns: 7fr 1fr 1fr 1fr;
  grid-column-gap: 5px ;
  background-color: lightgray;
  
} */
body {
  background-color: #7C9082;
}

h2 {
  color: white;
  background-color: #2B3A67;
  width: 200px;
  height: 25px;
  margin: 15px auto;
  border-radius: 25px;
  padding: 5px 5px 5px 10px;
  font-size: 20px;
}

h3 {
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2B3A67;
  color: white;
  padding: 10px 10px 20px;
  margin-bottom: 10px;
  
}

.appTitle {
  font-weight: bold;
  font-size: 25px;
  padding-left: 15px;
  font-family: cursive;
  margin: 0 735px 0 0;
}

.navLinks {
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
}

.create-item-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-item-form input {
  width: 100%;
  height: 25px;
  margin: 8px;
  border-radius: 25px;
  padding: 2px 5px 2px 10px;
  font-size: 18px;
  box-shadow: 5px 5px 2px;
}

.add-button {
  cursor: pointer;
  background: #2B3A67;
  border-radius: 25px;
  margin-right: 10px;
  color: white;
}

.word-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.word-list span {
  width: 100%;
  height: 25px;
  margin: 10px 8px;
  
}

.tracked-item {
  display: flex;
  align-items: center;
  background-color: #2B3A67;
  color: white;
  width: 95%;
  margin: 15px 2px 5px 2px;
  border-radius: 25px;
  font-size: 18px;
}

.tracked-name {
  color: white;
  float: left;
  margin-left: 10px;
  width: 34%;
}

.tracked-translation {
  float: left;
  margin-left: 10px;
}

.tracked-date {
  float: right;
  margin: 0 10px;
}

.delete-item {
  cursor: pointer;
  font-size: small;
  align-items: center;
  background-color: #C03221;
  color: white;
  border-radius: 25px;
  padding: 5px 10px;
  margin-right: 10px;
}

.form-header{
  font-weight: bold;
  margin: 20px;
  font-size: large;
  color: white;
}

.form-containers {
  display: flex inline-flex;
  justify-content: center;
  width: 400px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 25px;
  background-color: lightgray;
}

.form-containers input {
  width: 90%;
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  border-radius: 25px;
}

.form-buttons {
  margin: 5px;
  padding: 10px;
  width: 50%;
  border-radius: 25px;
}

.links {
  text-decoration: none;
}

.account-note {
  color: white;
}